body {
	font-family: sans-serif;
}

#header-nav {
	background-color: grey;
}

.icon-bar {
	background-color: black;
}

.navbar-header .navbar-brand {
	font-weight: bold;
	color: #000000;
}

.text-title {
	text-align: center;
	font-weight: bold;
}

#chicken-content{
	padding: 0;
}

#collapsable-nav  li {
	background-color: black;
	color: white;
}

#chicken-content, #beef-content, #sushi-content {
	background-color: grey;
	padding-left: 5px;
	color: black;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
	border: 1px solid black;
}

